.keyboard {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.key {
  font-size: 4vw;
  display: inline-block;
  letter-spacing: 0.1vw;
  transition: transform 0.2s;
}

@keyframes pressDown1 {
  30%,
  40%,
  100% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(10px);
  }
}

@keyframes pressDown2 {
  70%,
  80%,
  100% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
}

@keyframes pressDown3 {
  30%,
  40%,
  100% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(10px);
  }
}

@keyframes pressDown4 {
  40%,
  50%,
  100% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(10px);
  }
}

@keyframes pressDown5 {
  20%,
  30%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10px);
  }
}

@keyframes pressDown6 {
  60%,
  70%,
  100% {
    transform: translateY(0);
  }
  65% {
    transform: translateY(10px);
  }
}

@keyframes pressDown7 {
  10%,
  20%,
  100% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(10px);
  }
}

@keyframes pressDown8 {
  35%,
  45%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(10px);
  }
}

.key:nth-child(1) {
  animation: pressDown1 2s infinite;
}

.key:nth-child(2) {
  animation: pressDown2 3s infinite;
}

.key:nth-child(3) {
  animation: pressDown3 4s infinite;
}

.key:nth-child(4) {
  animation: pressDown4 2.5s infinite;
}

.key:nth-child(5) {
  animation: pressDown5 2.5s infinite;
}

.key:nth-child(6) {
  animation: pressDown6 3.5s infinite;
  margin-left: 2vw;
}

.key:nth-child(7) {
  animation: pressDown7 2.2s infinite;
}

.key:nth-child(8) {
  animation: pressDown8 3.2s infinite;
}

/* Cursor */
.cursor {
  position: relative;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 30px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.typewriter-animation {
  animation: typewriter 5s steps(50) 10 s infinite normal both,
    blinkingCursor 500ms steps(50) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 44%;
  }
}

@keyframes blinkingCursor {
  from {
    border-right-color: rgba(140, 140, 140, 0.614);
  }
  to {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
}

.text-container > span {
  font-size: 1.5vw;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  animation: glow 2s ease-in-out infinite;
  margin : 0.3vw;
}

@keyframes glow {
  0%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #f11b1b, 0 0 50px #ffb71d;
  }

  10%,
  90% {
    color: #111;
    text-shadow: none;
  }
}

.text-container > span:nth-child(2) {
  animation-delay: 0.25s;
}

.text-container > span:nth-child(3) {
  animation-delay: 0.5s;
}

.text-container > span:nth-child(4) {
  animation-delay: 0.75s;
}

.text-container > span:nth-child(5) {
  animation-delay: 1s;
}

.text-container > span:nth-child(6) {
  animation-delay: 1.25s;
}

.text-container > span:nth-child(7) {
  animation-delay: 1.5s;
}

