body {
    background-color: #411530;
    font-size: 62.5%;
    margin: 0;
  }
  
  #gth-game {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    min-height:100vh;
  }
  
  #container {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-grow:1;
    justify-content: center;
  }
  
  .square {
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
    transition: background 0.5s;
  }
  
  h1 {
    color: white;
    background-color: #d1512d;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0;
    font-size: 4rem;
  }
  
  #color-display {
    display: block;
    font-size: 2em;
  }
  
  #stripe {
    background: white;
    height: 50px;
    text-align: center;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: large;
  }
  
  #message {
    text-transform: uppercase;
    color: white;
    font-size:large;
    width: 20%;
    margin-left: 713px;
    text-align: center;
    padding-top: 3px;
  }

  #message-container{
margin-top:20px;
background-color: transparent;
  }

  .mode{
    outline: none;
    color: #d1512d;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: white;
    height: 100%;
    width:40%;
    letter-spacing: 1px;
    transition: all 0.3s;
  }
  
  button:hover {
    background-color: #d1512d;
    color: white;
  }
  
  .selected {
    background-color: #d1512d;
    color: white;
  }
  
  .square {
    border-radius: 20%;
  }
  
  #levels{
    outline: none;
    color: #d1512d;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: white;
    height: 100%;
    width:30%;
    letter-spacing: 1px;
    transition: all 0.3s;
  }
 