.status {
    width: 30%;
  }
  
  .difficulty {
    position: relative;
    top: 39px;
    left: 20px;
  }
  
  .difficultyText {
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
  }
  
  .difficultySelect {
    position: relative;
    display: inline-block;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding-left: 10px;
    padding-right: 30px;
    font-size: 14px;
    font-weight: 600;
    line-height: 2;
    color: var(--color-grey-light);
    background-color: var(--background-color);
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  }
  
  .time {
    position: relative;
    top: 70px;
    left: 10px;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 0.2em;
    background-color: var(--color-orange);
    color: var(--color-grey-light);
    padding-top: 4px;
    margin: 0 30px;
  }
  
  .numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    top: 93px;
    left: 10px;
  }
  
  .number {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 26px;
    padding: 12px 0;
    cursor: pointer;
  }
  
  .numberSelected {
    color: var(--color-blue);
  }
  
  .actions {
    position: relative;
    top: 100px;
    left: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .actionUndo,
  .actionErase,
  .actionHint,
  .actionMistakesMode,
  .actionFastMode {
    text-align: center;
    position: relative;
  }
  
  .actionUndo,
  .actionErase,
  .actionHint {
    width: 33.33%;
    cursor: pointer;
  }
  
  .actionMistakesMode {
    width: 60%;
  }
  
  .actionFastMode {
    width: 40%;
  }
  
  .actionSvg,
  .actionMistakesModeSwitch,
  .actionFastModeSwitch {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  .actionUndo .actionSvg {
    top: 18px;
    width: 38%;
    height: 38%;
  }
  
  .actionErase .actionSvg {
    top: 20px;
    width: 32%;
    height: 32%;
  }
  
  .actionHint .actionSvg {
    top: 11px;
    width: 48%;
    height: 48%;
  }
  
  .actionMistakesModeSwitch,
  .actionFastModeSwitch {
    top: 16px;
    display: inline-block;
    width: 46px;
    height: 26px;
  }
  
  .actionText {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    padding-top: 50px;
  }
  
  /* Hide default HTML checkbox */
  .actionMistakesModeSwitch input,
  .actionFastModeSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .actionMistakesModeSlider,
  .actionFastModeSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-grey-lighter);
    border-radius: 26px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .actionMistakesModeSlider:before,
  .actionFastModeSlider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: var(--background-color);
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .actionMistakesModeSlider,
  input:checked + .actionFastModeSlider {
    background-color: var(--color-blue);
  }
  
  input:focus + .actionMistakesModeSlider,
  input:focus + .actionFastModeSlider {
    box-shadow: 0 0 1px var(--color-blue);
  }
  
  input:checked + .actionMistakesModeSlider:before,
  input:checked + .actionFastModeSlider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  