@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom styles and animations */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradientAnimation 10s infinite;
}
.bg-gradient-to-br {
  background: linear-gradient(to bottom right, #7928ca, #ff0080, #ff7a59);
}
