.title-colormemo h1 {
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
}

.title-colormemo .first-part {

    background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);   
    background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.title-colormemo .second-part {
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    -webkit-text-stroke:2px #86A8E7;
}

.title-colormemo {
    padding-top: 10px;
}
